@mixin border-radius($radius:5px){
    border-radius:$radius;
    -webkit-border-radius:$radius;
    -ms-border-radius:$radius;
    -o-border-radius:$radius;
    -moz-border-radius:$radius;
}
@mixin font-set($size:12px,$weight:500,$height:24px,$color:#323232,$style:left){
    font-size:$size;
    font-weight:$weight;
    line-height:$height;
    color:$color;
    text-align:$style;
}
@mixin size($w,$h){
    width:$w;
    height:$h;
}
@mixin opa($opa:0.5){
    opacity:$opa;
    $ieopacity:$opa*100;
    filter: alpha(opacity=$ieopacity);
}
.banner{
	height:480px;
	background:rgba(100,120,220,0.5);

}

//nav一级导航
.nav{
	width:200px;
	height:480px;
	background:#76ac25;
	ul.I-nav{
		height:100%;
		padding-left: 8px;
	}
	ul.I-nav>li{
		height:54px;
		position:relative;
		margin: 3px 0;
		padding-left:6px;
		em{
			display:block;
			width:16px;
			height:22px;
			background:url(../img/left_lm_m_a.png) no-repeat 0 5px;
			position:absolute;
			top:3px;
			left:2px;
		}
		em.fruit{
			background-position-y:-47px;
		}
		em.lengyin{
			background-position-y:-105px;
		}
		em.wine{
			background-position-y:-160px;
		}
		em.sugar{
			background-position-y:-214px;
		}
		em.oil{
			background-position-y:-269px;
		}
		em.tea{
			background-position-y:-324px;
		}
		em.guoji{
			background-position-y:-378px;
		}
	}
	ul.I-nav>li:hover{
		background:#fffffe;
		.head a,.leibie a{color: #76ac25;}
		.II-nav{
			display: block;
		}
	}


	ul.I-nav>li div.head{
		height:27px;
		text-indent:18px;
		line-height:30px;
		a{
			color:#fff;
			font-weight:600;
			font-size:$f-s-2;
		}
	}
	ul.leibie{padding-left:16px;}
	ul.I-nav>li ul.leibie li{
		float:left;
		margin-right: 10px;
		a{
			display:block;
			font-size:$f-s-1;
			color:rgba(250,250,250,0.8);
			padding:3px 1px;
		}
		
	}
	ul.I-nav>li ul.leibie li>a:hover{text-decoration:underline;}

}
//二级导航
.II-nav{
	position:absolute;
	left:192px;
	top:-3px;
	width:600px;
	height:480px;
	background:rgba(255,255,255,1);
	padding:10px 20px;
	display:none;
	z-index:300;
	.kuai{padding-bottom: 10px; }
	.kuai>h3{
		padding:3px;
		font-size:15px;
		a{
			color:#76ac25;
		}
	} 
	.kuai>ol{width:80%;margin-left: 15px;margin-bottom: 10px;}
	.kuai>ol>li{
		float:left;
		border-left: 1px solid #ccc;
		margin:2px 0;
		a{
			display:block;
			padding:0 5px;
			color:rgb(95, 95, 95);
			font-size:$f-s-1;
		}
		a:hover{color: #76ac25;}
	}
	.img{
		img{opacity: 0.95;}
		position:absolute;
		bottom:0;
	}
	
}
ul.I-nav>li.fruit .II-nav{
	top:-60px;
}
ul.I-nav>li.lengyin .II-nav{
	top:-117px;
}
ul.I-nav>li.wine .II-nav{
	top:-174px;
}


//轮播图
.banner div.lunbotu{
	float:left;
	width:1000px;
	height:480px;
	overflow:hidden;
	position:relative;
	ul.lunbo{
		position:absolute;
		height:100%;
		width:10000px;
		left:0;
		top:0;
		li{
			float:left;
			width:1000px;
			hright:480px;
		}
		
	}
	ul.lunbo-nav{
		z-index:30;
		position:absolute;
		@include size(340px,25px);
		bottom:15px;
		left:50%;
		margin-left: -270px;
		li{
			float:left;
			width:25px;
			height:25px;
			margin:0 6px;
			background:#646464;
			cursor:pointer;
			@include border-radius(50%);
			@include opa(0.8);
			@include font-set(15px,500,25px,#fff,center);
		}
		li.orange{
			background:#fa9600;
		}
	}
	
}
.banner-right{
	width:260px;
	position:absolute;
	right:0;
	top:15px;
	a{
		font-size:0;
	}
}