@mixin font-set($size:12px,$weight:500,$height:24px,$color:#323232,$style:left){
    font-size:$size;
    font-weight:$weight;
    line-height:$height;
    color:$color;
    text-align:$style;
}
@mixin border_style($w:1px,$s:solid,$c:#ccc){
    border:$w $s $c;
}
@mixin border-radius($radius:5px){
    border-radius:$radius;
    -webkit-border-radius:$radius;
    -ms-border-radius:$radius;
    -o-border-radius:$radius;
    -moz-border-radius:$radius;
}
@mixin size($w,$h){
    width:$w;
    height:$h;
}
@mixin opa($opa:0.5){
    opacity:$opa;
    $ieopacity:$opa*100;
    filter: alpha(opacity=$ieopacity);
}
.link-nav .wrapper{
    padding:10px 0 10px;
}
.link-nav .wrapper .link{
    height:20px;
    span{
        margin-left:10px;
        @include font-set(12px,500 ,20px ,#666 );
        a{color:#666};
        a.title{
            @include font-set(16px,bold ,20px ,#666 );
        
        }
    }
}

body{height:1000px}
.producteInfo .item{
    @include size(978px,410px );
    box-shadow:0 0 1px 1px #eee;
    background:#fbfbfb;
    .zhanshi{
        @include size(410px,410px );
        background:#fff;
    }
    .tupian-liebiao {
        @include size(390px,340px );
        margin:20px 0 0 10px;
        position:relative;

    }
    .share{
        @include size(340px,38px);
        padding:0 20px;
        margin:10px auto;
        border-top:1px solid #efefef;
        div.shoucang{
            @include font-set(13px,500 ,36px ,#6c9c0a );
            text-indent: 20px;
            background:url(../img/productinfo.png) no-repeat -68px 11px;
        }
    }
    .tu-nav{
        @include size(50px,300px );
        padding:20px 0;
        margin-right:10px;
        position: relative;
        a.jiantou{
            display:block;
            @include size(50px,20px );
            
            span{
                display:block;
                @include size(19px,10px );
                margin:0 auto;
                background:url(../img/productinfo.png) no-repeat -30px 0;
            }
            
        
        }
        a.shang{
            position: absolute;
            top:0;
        }
        a.xia{
            span{
                background-position-y: -10px;
            }
            position: absolute;
            bottom: 0;
        }
    }
    .tu-nav ul li{
        @include size(50px,60px );
        img{
            @include size(48px,48px );
            @include border_style($c:#fff);
            padding:1px;
            
        }
        img:hover{
            @include border_style($c:#76ac25);
            
        }
    }
    .spic{
        position:relative;
        @include size(330px,330px );
        img{
            @include size(330px,330px );
        }
        div.sglass{
            position:absolute;
            display:none;
            background:orange;
            @include opa(0.5);
        }
    }
    div.bglass{
        z-index:200;
        @include size(390px,340px );
        margin:20px 0 0 10px;
        position:absolute;
        top:-26px;
        right:-402px;
        border:1px solid #ccc;
        display:none;
        overflow:hidden;
        img.bpic{
            @include size(800px,800px);
            position:absolute;
        }
    }
}
.producteInfo .item .buy{
    @include size(568px,330px );
    h3{
        @include size(538px,60px );
        margin:10px auto;
        @include font-set(18px,600,30px ,#191c1f );
    }
    div.price{
        height:90px;
        background: #fa8e19;
        border-bottom: 3px solid #dddddd;
        margin-bottom: 10px;
        position: relative;
        div.huitiao{
            @include size(5px,96px );
            position: absolute;
            top:0;
            right:-5px;
            background:url(../img/productinfo.png) no-repeat -271px -121px;
        } 
    }
    div.pircebox{
        height:75px;
        color:#fff;
        padding-top:20px;
        span.jia{
            height:18px;
            @include font-set(13px,500,18px,#fff);
            padding: 55px 0 0 10px;
        } 
        span.yang{
            height:25px;
            @include font-set(20px,500,25px,#fff);
        } 
        strong.num{
            height:50px;
            @include font-set(50px,600,50px,#fff);
        }    
         
    }
    div.address{
        height:25px;
        padding-left: 50px;
        margin:20px 0;
        span.song{
            @include font-set(12px,500 ,25px ,#b0b0b0);
        }
        span.dizhi{
            display:inline-block;
            @include size(132px,22px );
            background: #fff;
            text-indent: 3px;
            @include border_style($c:#CECBCE);
            @include font-set(12px,500 ,22px ,#666);
            b{
                display:inline-block;
                @include size(17px,16px );
                background:url(../img/indexImg20130307.png?v=1.4) no-repeat -386px -2px;
            }
        }
    }
    div.choose{
        padding-top:20px;
        margin:0 20px;
        border-top:1px solid #efefef;

    }
    div.choose>div{
        float: left;
        margin-right:10px;
        height:45px;
    }
    div.choose>div.num{
        width:84px;
        input{
            @include size(53px,43px );
            @include font-set(18px,500 ,43px ,rgb(107, 107, 107) ,center );
            @include border_style($c:rgb(218, 218, 218) );
            border-right:0;
            position: relative;
            top:-12px;
        }
        span{
            display:inline-block;
            @include size(24px,43px );
            position: relative;
            left:-4px;
            a{
                display:inline-block;
                @include size(24px,21px );
                @include font-set(18px,500 ,20px ,rgb(107, 107, 107) ,center );
                @include border_style($c:rgb(218, 218, 218) );
            }
            a.jian{
                border-top:0;
            }
        }
    }
    div.choose>div.add{
        @include size(53px,43px );
        width:160px;
        background: rgb(102, 153, 0);
        @include font-set(18px,500 ,43px ,#fff ,center );
        @include border-radius(3px);
        a{color:#fff}
        b{
            display:inline-block;
            @include size(22px,20px );
            background: url(../img/productinfo.png) no-repeat -269px -72px;
            position: relative;
            top:4px;
            left:-4px;
        }
            
    }
    div.choose>div.buy{
        @include size(130px,43px );
        background: #fa8e19;
        @include font-set(18px,500 ,43px ,#fff ,center );
        @include border-radius(3px);
        a{color:#fff}
        
    }
    div.choose>div.saoma{
        margin-right: 0;
        @include size(122px,36px );
        @include border_style($c:#ddd );
        padding-top: 5px;
        a{
            display:block;
            width:100%;
            height:100%;
            background:url(../img/phone.jpg) 10px center no-repeat;
            p{
                @include font-set(12px,500 ,16px ,#ccc );
                text-indent: 28px;
            }
            p.yaoquan{
                color:#fa6400;
            }
        }
    }
}