$f-s-1:12px;
$f-s-2:15px;
$f-s-3:18px;
.header-top{
	width:100%;
	height:33px;
	background:#eee;
	border-bottom: 1px solid #ccc;
	.address span{
		margin-left: 10px;
		font-size:$f-s-1;
		line-height:33px;
	}
	.address b{
		font-weight:500;
		font-size:$f-s-1;
		display:inline-block;
		border:1px solid #ccc;
		padding:3px 8px;

	}
	.right>ul{
		margin-top: 10px;
		position:relative;
		.hongkuai{
			position:absolute;
			left:161px;
			top:22px;
			b{
				display:block;
				width:11px;
				height:7px;
				background:url(../img/regicon-top.png) no-repeat;
				position: absolute;
				top:-7px;
				left: 50%;
				margin-left: -5.5px;
			}
			a{
				font-size:12px;
				display:block;
				background:red;
				color:#fff;
				padding:3px 8px;
				border-radius:11px;
			}
		}
	}
	.right>ul>li{
		float:left;
		color:#999;
		padding:0 10px;
		font-size:12.5px;
		a{
			color:#999;
			position:relative;
		}
		b{
			display:inline-block;
			position:absolute;
		}
	}
	.right>ul>li a:hover{color:#76ac25;}
	li.log{
		width:260px;
		a{
			color:#ccc;
			margin-left:8px;
		}
		div.master{
			position:relative;
			left:78px;
		}
		div.zhuce{
			display:inline-block;
		}
	}
	li.my-youxuan,li.my-help{
		a{
			z-index:5;
			font-size:11.5px;
		}
		position:relative;
		b{
			z-index:5;
			top:6px;
			left:66px;
			width:8px;
			height:4px;
			background:url(../img/header.png) no-repeat -86px -130px;
			transition:all 0.3s;
		}
		.white{
			width:80px;
			height:22px;
			background:#fff;
			position:absolute;
			top:-3px;
			left:0;
			box-shadow:0 0 1px 1px #ccc;
			display:none;
		}
		ul{
			padding-right: 2px;
			position:absolute;
			width:78px;
			left:0;
			top:21px;
			background:#fff;
			box-shadow:0 0 1px 1px #ccc;
			display:none;
			z-index:6;
		}
		ul li{
			margin:5px 0;
			text-align:center;
		}
	}
	li.my-nav{
		position:relative;
		a{
			z-index:5;
			font-size:11.5px;
		}
		position:relative;
		b{
			z-index:5;
			top:6px;
			left:66px;
			width:8px;
			height:4px;
			background:url(../img/header.png) no-repeat -86px -130px;
			transition:all 0.3s;
		}
		.white{
			width:80px;
			height:22px;
			background:#fff;
			position:absolute;
			top:-3px;
			left:0;
			box-shadow:0 0 1px 1px #ccc;
			display:none;
		}
	}
	li.my-nav>div.II{
		position:absolute;
		width:800px;
		height:200px;
		top:21px;
		right:-12px;
		background:#fff;
		box-shadow:0 0 1px 1px #ccc;
		display:none;
		z-index:6;
	}
	li.my-nav ul{
		width:100%;
		height:100%;
		padding:20px;
	}
	li.my-nav ul li.II-kuai{
		float:left;
		margin-left: 15px;
		width:30%;
		height:80%;
		border-right: 1px solid rgba(200,200,200,0.2);
		h3{
			font-size:16px;
			margin-left: 10px;
		}
	}
	li.my-nav ul li.II-kuai:nth-of-type(1) h3{
		color:green;
	}
	li.my-nav ul li.II-kuai:nth-of-type(2) h3{
		color:red;
	}
	li.my-nav ul li.II-kuai:nth-of-type(3){
		color:#000;
		border:0;
	}
	li.my-nav ul li.II-kuai div.content{margin-top: 15px;}
	li.my-nav ul li.II-kuai div.content>a{
		display:inline-block;
		float:left;
		padding:5px 10px;
	}
	
	li.my-youxuan:hover b,li.my-help:hover b,li.my-nav:hover b{
		transform:rotate(180deg);
	}
	li.my-youxuan:hover .white,li.my-help:hover .white,li.my-nav:hover .white{
		display:block;
	}
	li.my-youxuan:hover ul,li.my-help:hover ul,li.my-nav:hover div.II{
		display:block;
	}
	li.my-help,li.my-nav{margin-right: 15px;}
	li.weibo,li.weixin{
		height:20px;margin-left: 10px;
		b{
			background:url(../img/header.png) no-repeat;
		}
	}
	li.weibo b{
		width:20px;
		height:15px;
		background-position:-55px 0;
	}
	li.weixin b{
		width:16px;
		height:16px;
		background-position:-74px 0;
	}
	li.my-yidong{
		margin-left: 20px;
		text-indent:20px;
		position:relative;
		b{
			top:-2px;
			left:15px;
			width:10px;
			height:17px;
			background:url(../img/header.png) no-repeat -73px -121px;
			transition:all 0.2s;
		}	
	}
	li.my-yidong:hover b{
			background-position-y:-138px;
		}

	
}