$c-1:#76AC25;
$c-2:#fa648c;
$c-3:#ff6c00;
$c-4:#fa648c;
$c-5:#d12e49;
$c-6:#f08c18;
$c-7:#78b270;

@mixin font-set($size:12px,$weight:500,$height:24px,$color:#323232,$style:left){
    font-size:$size;
    font-weight:$weight;
    line-height:$height;
    color:$color;
    text-align:$style;
}
@mixin border_style($w:1px,$s:solid,$c:#ccc){
    border:$w $s $c;
}
@mixin border-radius($radius:5px){
    border-radius:$radius;
    -webkit-border-radius:$radius;
    -ms-border-radius:$radius;
    -o-border-radius:$radius;
    -moz-border-radius:$radius;
}
@mixin opa($opa:0.5){
    opacity:$opa;
    $ieopacity:$opa*100;
    filter: alpha(opacity=$ieopacity);
}
@mixin size($w,$h){
    width:$w;
    height:$h;
}

%price{
    @include font-set(14px,600,20px,#f33f00);
}
body div.main{
    margin-bottom: 30px;
    position: relative;
    div.m-l-10{
        margin-left: 10px;
    }
}

.bg{
    width:1920px;
    height:578px;
    margin:0 auto;
    background: url(../img/thefifthyear.png) no-repeat;
    position: absolute;
    top:710px;
    left:50%;
    margin-left: -960px;
}

.main-1 .wrapper{
    height:578px;
    h3{
        font-weight:400;
        margin: 10px 0;
        position:relative;
        span{
            position:absolute;
            top:4px;
            left: 95px;;
            width:118px;
            height:14px;
            background:url(../img/index_icon_new.png) no-repeat -29px -333px;
        }
    }
    .content{
        height:520px;
    }
    .content .left{
        width:945px;
        height:520px;
        box-sizing:border-box;
        ul{
            width:100%;
            height:100%;
            border-bottom: 1px solid rgb(231, 231, 231);
            border-right: 1px solid rgb(231, 231, 231); 
            background:#fff;
        }
        ul>li{
            position:relative;
            box-sizing:border-box;
            height:260px;
            width:236px;
            float: left;
            border-top: 1px solid rgb(231, 231, 231);
            border-left: 1px solid rgb(231, 231, 231);
            overflow:hidden;
            h4{
                font-size:14px;
                font-weight:400;
                height:14px;
                overflow: hidden;
                line-height: 14px;
                margin: 10px;
                a{color:rgb(97, 97, 97);}
            }
            p{
                margin: 10px;
                font-size: 14px;
                font-weight:600;
                color:rgb(250, 3, 3);
            }
            a.image{
                position:absolute;
                display:block;
                width:204px;
                height:204px;
                right:0;
                bottom:0;
                img{
                    width:204px;
                    height:204px;
                }
            }
            div.add-cart{
                position:absolute;
                width:150px;
                height:25px;
                background:#76ac25;
                border-radius:5px;
                left:50%;
                margin-left: -75px;
                bottom: -10px;
                font-size:12px;
                line-height:25px;
                color:#fff;
                text-align:center;
                display:none;

            }
        }
        
    }
    .content .right{
        width:220px;
        height:520px;
        @include border_style();
        a.top{
            display:block;
            width:220px;
            height:300px;
            img{
                width:100%;
                height:100%;
            }
        }
        div.bottom{
            padding:10px;
            h4{
                position:relative;
                font-size:14px;
                font-weight:400;
                padding:10px 0;
                border-bottom: 1px solid #ccc;
                a.more{
                    position:absolute;
                    right:0;
                    font-size:12px;
                    color:#999;
                }
            }
            ul.kuaibao li{
                font-size:11px;
                height:28px;
                line-height:28px;
                overflow:hidden; 
                a{
                    color:#999;
                }
                
            }
            //这里的hover用jq改
            ul.kuaibao li:nth-of-type(1) a,ul.kuaibao li:nth-of-type(2) a{
                color:red;
            }
        }
    }
}
.main-2 .wrapper{
    margin-bottom: 30px;
    .m-l-10{
        height:360px;
    }
    div.left{
        width:945px;
        height:100%;
        margin-left: 10px;
        div.head{
            width:100%;
            height:61px;
            color:#fff;
            background:#ff7031;
            div.logo{
                float:left;
                font-size:23px;
                color:#fff;
                line-height:61px;
                text-indent:50px;
                b{
                    display:inline-block;
                    position:relative;
                    top:10px;
                    left:-22px;
                    width:30px;
                    height:34px;
                    background:url(../img/paid_bg.png) no-repeat -40px -266px; 
                }
            }
            div.jishi{
                float:left;
                margin-left: 38px;
                position:relative;
                ul>li{
                    float:left;
                    line-height:61px;
                    margin-right:10px;
                }
                ul>li.word{
                    font-size:14px;
                    color:#ffe4c6;
                }
                ul>li.have-b{
                    width:38px;
                    height:40px;
                    line-height:40px;
                    text-align:center;
                    position:relative;
                    top:12px;
                    font-size:22px;
                    background:url(../img/paid_bg.png) no-repeat -185px -217px; 
                }
            }
            a.yugao{
                float:right;
                position:relative;
                right:20px;
                font-size:18px;
                color:#fff;
                line-height:61px;
            }
        }
        div.bottom{
            height:297px;
            @include border_style();
            border-top: 0;
        }
        div.bottom ul li{
            width:166px;
            height:266px;
            float:left;
            padding:13px 0 18px 19px;
            a.img{
                display:block;
                width:164px;
                height:164px;
                @include border_style();
                font-size: 0;
            }
            img{width:100%;border:0;}
            
            p.title{
                @include font-set(12px,600,18px,#ccc);
                a{
                    display:block;
                    height:18px;
                    width:166px;
                    overflow:hidden;
                    color:#323232;
                }
            }
            p.price{
                @include font-set(14px,600,20px,#f33f00)
            }
            p.huiyuanjia{
                @include font-set();
                span{
                    @include font-set(14px,600,20px,#f33f00)
                }
            }
            p.qiang{
                height:28px;
                @include font-set(14px,500,28px,#fff,center);
                background:#f33f00;
                a{color:#fff}
            }
        }

    }
    div.right{
        height:100%;
        a{
            display:block;
            height:100%;
           
        }
        img{
            width:222px;
            height:100%;
        }
    } 
}

%goods{
    float: left;
    width:160px;
    height:210px;
    padding: 8px;
    a.image{
        display:block;
        width:160px;
        height:160px;
        position: relative;
        overflow:hidden;

        div.add-cart{
            position:absolute;
            bottom: -10px;
            width:100%;
            height:20px;
            background: #76AC25;
            display:none;
            @include font-set(12px,500,20px ,#fff,center );
            @include border-radius(3px);
        }
    }
    div.title{
        height:30px;
        width:90%;
        overflow: hidden;
        @include font-set(12px,500 ,30px ,#666 )
    }
    div.price{
        @extend %price;
    }
}
%re-mian{
    margin-bottom: 30px;
    .m-l-10 .head{
        width:1190px;
        margin-bottom: 30px;
        a{
            display: block;
            font-size:0;
            img{
                @include size(1190px,100px )
            }
        }
    }
    .m-l-10 .bottom .l{
        float:left;
        width:240px;
        h2{
            height:50px;
            background:#76AC25;
            @include font-set(16px,500,50px,#fff,center);    
            a{
                color:#fff;
            }
        }
        a.image{
            display:block;
            font-size:0;
            img{
                position:relative;
                left:-10px;
                @include size(250px,420px )
            }
        }
    }
    .m-l-10 .bottom .m{
        @include size(720px,468px );
        float: left;
    }
    .m-l-10 .bottom .m ul{
        @include size(710px,460px );
        padding: 7px 10px 1px;
        border-top: 1px solid #76AC25;
        border-bottom: 1px solid #F4F4F4;
    }
    .m-l-10 .bottom .m ul>li{
        @extend %goods;
    }
    .m-l-10 .bottom .r{
        float: right;
        width:220px;
        height:469px;
        background: #f4f4f4;
        border-top: 1px solid #76AC25;
        position: relative;
        div.top ul{
            margin: 25px 0 0 15px;
        }
        div.top ul li{
            float: left;
            margin: 4px;
            a{
                display: block;
                width:55px;
                height:55px;
                background: #fff;
                @include border-radius(50%);
                @include font-set(12px,500 ,55px ,#333 ,center );
                color:#333;
            }
            a:hover{
                background: #76AC25;
            }
        }
        div.bottom{
            @include size(220px,230px );
            position: absolute;
            bottom: 0;
            a.image{
                display: block;
                font-size: 0;
            }
            a.jiantou{
                position: absolute;
                top:65px;
                left:18px;
                display: block;
                @include size(25px,25px );
                @include border-radius(50%);
                background: url(../img/index_icon_new.png) no-repeat -204px 0;
            }
        }
        div.bottom:hover a.jiantou{
            background-position-y:-33px; 
        }
        
    }
    
}

.main-3 .wrapper{
    @extend %re-mian;
}
.main-4 .wrapper{
    @extend %re-mian;
    .m-l-10 .bottom .l h2{
        background:$c-2;
    }
    .m-l-10 .bottom .m ul{
        border-top: 1px solid $c-2;
    }
    .m-l-10 .bottom .m ul>li>a.image>div.add-cart{
        background: $c-2;
    }
    .m-l-10 .bottom .r{
        border-top: 1px solid $c-2;
        div.top ul li>a:hover{
            background: $c-2;
        }
    }
    .m-l-10 .bottom .r div.bottom:hover a.jiantou{
        background-position-y:-199px; 
    }
    
}
.main-5 .wrapper{
    @extend %re-mian;
    .m-l-10 .bottom .l h2{
        background:$c-3;
    }
    .m-l-10 .bottom .m ul{
        border-top: 1px solid $c-3;
    }
    .m-l-10 .bottom .m ul>li>a.image>div.add-cart{
        background: $c-3;
    }
    .m-l-10 .bottom .r{
        border-top: 1px solid $c-3;
        div.top ul li>a:hover{
            background: $c-3;
        }
    }
    .m-l-10 .bottom .r div.bottom:hover a.jiantou{
        background-position-y:-66px; 
    }
    
}
.main-6 .wrapper{
    @extend %re-mian;
    .m-l-10 .bottom .l h2{
        background:$c-4;
    }
    .m-l-10 .bottom .m ul{
        border-top: 1px solid $c-4;
    }
    .m-l-10 .bottom .m ul>li>a.image>div.add-cart{
        background: $c-4;
    }
    .m-l-10 .bottom .r{
        border-top: 1px solid $c-4;
        div.top ul li>a:hover{
            background: $c-4;
        }
    }
    .m-l-10 .bottom .r div.bottom:hover a.jiantou{
        background-position-y:-199px; 
    }
    
}
.main-7 .wrapper{
    @extend %re-mian;
    .m-l-10 .bottom .l h2{
        background:$c-5;
    }
    .m-l-10 .bottom .m ul{
        border-top: 1px solid $c-5;
    }
    .m-l-10 .bottom .m ul>li>a.image>div.add-cart{
        background: $c-5;
    }
    .m-l-10 .bottom .r{
        border-top: 1px solid $c-5;
        div.top ul li>a:hover{
            background: $c-5;
        }
    }
    .m-l-10 .bottom .r div.bottom:hover a.jiantou{
        background-position-y:-99px; 
    }
    
}
.main-8 .wrapper{
    @extend %re-mian;
    .m-l-10 .bottom .l h2{
        background:$c-6;
    }
    .m-l-10 .bottom .m ul{
        border-top: 1px solid $c-6;
    }
    .m-l-10 .bottom .m ul>li>a.image>div.add-cart{
        background: $c-6;
    }
    .m-l-10 .bottom .r{
        border-top: 1px solid $c-6;
        div.top ul li>a:hover{
            background: $c-6;
        }
    }
    .m-l-10 .bottom .r div.bottom:hover a.jiantou{
        background-position-y:-132px; 
    }
    
}
.main-9 .wrapper{
    @extend %re-mian;
    margin-bottom: 50px;
    .m-l-10 .bottom .l h2{
        background:$c-7;
    }
    .m-l-10 .bottom .m ul{
        border-top: 1px solid $c-7;
    }
    .m-l-10 .bottom .m ul>li>a.image>div.add-cart{
        background: $c-7;
    }
    .m-l-10 .bottom .r{
        border-top: 1px solid $c-7;
        div.top ul li>a:hover{
            background: $c-7;
        }
    }
    .m-l-10 .bottom .r div.bottom:hover a.jiantou{
        background-position-y:-166px; 
    }
    
}
.tuijian{
    margin-top: 10px;   
}
.tuijian .wrapper{
    @include border_style($c:#f5f5f5);
    width:1170px;
    padding:15px 14px;
    h4{
        background-color: #fff;
        position: absolute;
        padding:5px 10px;
        @include size(100px,23px );
        top:-11px;
        left:50%;
        margin-left: -58px;
        b{
            @include size(100px,23px );
            display: block;
            position: relative;
            top:-8px;
            left:0;
            background: url(../img/sf_new_bg.png) no-repeat;
        }
    }
    ul li{
        @extend %goods;
        width:210px;
        height:278px;
        padding:15px 12px;
        a.image{
            display:block;
            @include size(210px,210px )
            position: relative;
            overflow:hidden;
        }
        div.add-cart{
            position:absolute;
            background: #76AC25;
            display:none;
            @include font-set(12px,500,20px ,#fff,center );
            @include border-radius(3px);
            @include size(210px,24px );
            @include opa(0.95);
        }
        div.title{
            width:210px;
            height:36px;
            line-height: 20px;
            overflow:visible;
            padding:5px 2px;
        }
    }

}
