.header-top {
  width: 100%;
  height: 33px;
  background: #eee;
  border-bottom: 1px solid #ccc; }
  .header-top .address span {
    margin-left: 10px;
    font-size: 12px;
    line-height: 33px; }
  .header-top .address b {
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 3px 8px; }
  .header-top .right > ul {
    margin-top: 10px;
    position: relative; }
    .header-top .right > ul .hongkuai {
      position: absolute;
      left: 161px;
      top: 22px; }
      .header-top .right > ul .hongkuai b {
        display: block;
        width: 11px;
        height: 7px;
        background: url(../img/regicon-top.png) no-repeat;
        position: absolute;
        top: -7px;
        left: 50%;
        margin-left: -5.5px; }
      .header-top .right > ul .hongkuai a {
        font-size: 12px;
        display: block;
        background: red;
        color: #fff;
        padding: 3px 8px;
        border-radius: 11px; }
  .header-top .right > ul > li {
    float: left;
    color: #999;
    padding: 0 10px;
    font-size: 12.5px; }
    .header-top .right > ul > li a {
      color: #999;
      position: relative; }
    .header-top .right > ul > li b {
      display: inline-block;
      position: absolute; }
  .header-top .right > ul > li a:hover {
    color: #76ac25; }
  .header-top li.log {
    width: 260px; }
    .header-top li.log a {
      color: #ccc;
      margin-left: 8px; }
    .header-top li.log div.master {
      position: relative;
      left: 78px; }
    .header-top li.log div.zhuce {
      display: inline-block; }
  .header-top li.my-youxuan, .header-top li.my-help {
    position: relative; }
    .header-top li.my-youxuan a, .header-top li.my-help a {
      z-index: 5;
      font-size: 11.5px; }
    .header-top li.my-youxuan b, .header-top li.my-help b {
      z-index: 5;
      top: 6px;
      left: 66px;
      width: 8px;
      height: 4px;
      background: url(../img/header.png) no-repeat -86px -130px;
      transition: all 0.3s; }
    .header-top li.my-youxuan .white, .header-top li.my-help .white {
      width: 80px;
      height: 22px;
      background: #fff;
      position: absolute;
      top: -3px;
      left: 0;
      box-shadow: 0 0 1px 1px #ccc;
      display: none; }
    .header-top li.my-youxuan ul, .header-top li.my-help ul {
      padding-right: 2px;
      position: absolute;
      width: 78px;
      left: 0;
      top: 21px;
      background: #fff;
      box-shadow: 0 0 1px 1px #ccc;
      display: none;
      z-index: 6; }
    .header-top li.my-youxuan ul li, .header-top li.my-help ul li {
      margin: 5px 0;
      text-align: center; }
  .header-top li.my-nav {
    position: relative;
    position: relative; }
    .header-top li.my-nav a {
      z-index: 5;
      font-size: 11.5px; }
    .header-top li.my-nav b {
      z-index: 5;
      top: 6px;
      left: 66px;
      width: 8px;
      height: 4px;
      background: url(../img/header.png) no-repeat -86px -130px;
      transition: all 0.3s; }
    .header-top li.my-nav .white {
      width: 80px;
      height: 22px;
      background: #fff;
      position: absolute;
      top: -3px;
      left: 0;
      box-shadow: 0 0 1px 1px #ccc;
      display: none; }
  .header-top li.my-nav > div.II {
    position: absolute;
    width: 800px;
    height: 200px;
    top: 21px;
    right: -12px;
    background: #fff;
    box-shadow: 0 0 1px 1px #ccc;
    display: none;
    z-index: 6; }
  .header-top li.my-nav ul {
    width: 100%;
    height: 100%;
    padding: 20px; }
  .header-top li.my-nav ul li.II-kuai {
    float: left;
    margin-left: 15px;
    width: 30%;
    height: 80%;
    border-right: 1px solid rgba(200, 200, 200, 0.2); }
    .header-top li.my-nav ul li.II-kuai h3 {
      font-size: 16px;
      margin-left: 10px; }
  .header-top li.my-nav ul li.II-kuai:nth-of-type(1) h3 {
    color: green; }
  .header-top li.my-nav ul li.II-kuai:nth-of-type(2) h3 {
    color: red; }
  .header-top li.my-nav ul li.II-kuai:nth-of-type(3) {
    color: #000;
    border: 0; }
  .header-top li.my-nav ul li.II-kuai div.content {
    margin-top: 15px; }
  .header-top li.my-nav ul li.II-kuai div.content > a {
    display: inline-block;
    float: left;
    padding: 5px 10px; }
  .header-top li.my-youxuan:hover b, .header-top li.my-help:hover b, .header-top li.my-nav:hover b {
    transform: rotate(180deg); }
  .header-top li.my-youxuan:hover .white, .header-top li.my-help:hover .white, .header-top li.my-nav:hover .white {
    display: block; }
  .header-top li.my-youxuan:hover ul, .header-top li.my-help:hover ul, .header-top li.my-nav:hover div.II {
    display: block; }
  .header-top li.my-help, .header-top li.my-nav {
    margin-right: 15px; }
  .header-top li.weibo, .header-top li.weixin {
    height: 20px;
    margin-left: 10px; }
    .header-top li.weibo b, .header-top li.weixin b {
      background: url(../img/header.png) no-repeat; }
  .header-top li.weibo b {
    width: 20px;
    height: 15px;
    background-position: -55px 0; }
  .header-top li.weixin b {
    width: 16px;
    height: 16px;
    background-position: -74px 0; }
  .header-top li.my-yidong {
    margin-left: 20px;
    text-indent: 20px;
    position: relative; }
    .header-top li.my-yidong b {
      top: -2px;
      left: 15px;
      width: 10px;
      height: 17px;
      background: url(../img/header.png) no-repeat -73px -121px;
      transition: all 0.2s; }
  .header-top li.my-yidong:hover b {
    background-position-y: -138px; }

.header-middle {
  width: 100%;
  height: 104px;
  padding-top: 10px; }

.header-middle .wrapper div.kuai {
  float: left; }

.header-middle .wrapper div.left div.top h2 {
  margin-top: 10px;
  display: inline-block;
  width: 240px;
  height: 54px;
  background: url(../img/indexImg20130307.png) no-repeat -34px -10px; }

.header-middle .wrapper div.dongtu {
  width: 140px;
  height: 75px;
  margin-left: 20px;
  margin-top: 10px; }
  .header-middle .wrapper div.dongtu a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/20180606142224638.gif) no-repeat; }

.header-middle .wrapper div.middle .search {
  margin: 20px;
  position: relative; }
  .header-middle .wrapper div.middle .search input {
    float: left;
    width: 430px;
    height: 36px;
    border: 1px solid #669900;
    outline: 0;
    text-indent: 8px; }
  .header-middle .wrapper div.middle .search div.sousuo {
    width: 428px;
    min-height: 50px;
    border: 1px solid #669900;
    position: absolute;
    top: 35px;
    background: #fff; }
    .header-middle .wrapper div.middle .search div.sousuo ul li {
      height: 25px; }
      .header-middle .wrapper div.middle .search div.sousuo ul li a {
        font-size: 13px;
        font-weight: 500;
        line-height: 25px;
        color: #ccc;
        text-align: left; }
  .header-middle .wrapper div.middle .search span {
    float: left; }
  .header-middle .wrapper div.middle .search span a {
    display: block;
    heigth: 36px;
    width: 80px;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #669900; }

.header-middle .wrapper div.middle .tuijian ul {
  margin-left: 16px; }

.header-middle .wrapper div.middle .tuijian ul li {
  float: left; }
  .header-middle .wrapper div.middle .tuijian ul li a {
    font-size: 12px;
    color: #888;
    display: block;
    padding: 2px 4px; }

.header-middle .wrapper div.right {
  margin-top: 20px;
  margin-left: 10px;
  width: 180px;
  height: 35px; }
  .header-middle .wrapper div.right .cart {
    float: left;
    width: 83%;
    height: 100%;
    border: 1px solid rgba(220, 220, 220, 0.5);
    text-indent: 30px; }
    .header-middle .wrapper div.right .cart b {
      display: inline-block;
      width: 19px;
      height: 19px;
      background: url(../img/header.png) no-repeat -102px -234px;
      position: relative;
      left: -10px;
      top: 5px; }
    .header-middle .wrapper div.right .cart a {
      color: #999;
      font-size: 13px; }
  .header-middle .wrapper div.right span {
    float: left;
    display: block;
    width: 14%;
    height: 100%;
    background: orange;
    font-weight: 600;
    color: #fff;
    line-height: 35px;
    text-align: center;
    border: 1px solid orange; }

.header-nav {
  height: 40px;
  z-index: 500;
  margin-bottom: 2px; }
  .header-nav .wrapper {
    border-bottom: 2px solid green; }
  .header-nav .fenlei {
    width: 200px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background: green;
    margin-right: 30px; }
  .header-nav ul li {
    float: left; }
  .header-nav ul li a {
    display: block;
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;
    padding: 0 15px;
    color: #000; }

div, ul, p, li {
  margin: 0;
  padding: 0;
  font-family: Microsoft YaHei; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.wrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative; }

.clear:after {
  content: " ";
  display: block;
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.banner {
  height: 480px;
  background: rgba(100, 120, 220, 0.5); }

.nav {
  width: 200px;
  height: 480px;
  background: #76ac25; }
  .nav ul.I-nav {
    height: 100%;
    padding-left: 8px; }
  .nav ul.I-nav > li {
    height: 54px;
    position: relative;
    margin: 3px 0;
    padding-left: 6px; }
    .nav ul.I-nav > li em {
      display: block;
      width: 16px;
      height: 22px;
      background: url(../img/left_lm_m_a.png) no-repeat 0 5px;
      position: absolute;
      top: 3px;
      left: 2px; }
    .nav ul.I-nav > li em.fruit {
      background-position-y: -47px; }
    .nav ul.I-nav > li em.lengyin {
      background-position-y: -105px; }
    .nav ul.I-nav > li em.wine {
      background-position-y: -160px; }
    .nav ul.I-nav > li em.sugar {
      background-position-y: -214px; }
    .nav ul.I-nav > li em.oil {
      background-position-y: -269px; }
    .nav ul.I-nav > li em.tea {
      background-position-y: -324px; }
    .nav ul.I-nav > li em.guoji {
      background-position-y: -378px; }
  .nav ul.I-nav > li:hover {
    background: #fffffe; }
    .nav ul.I-nav > li:hover .head a, .nav ul.I-nav > li:hover .leibie a {
      color: #76ac25; }
    .nav ul.I-nav > li:hover .II-nav {
      display: block; }
  .nav ul.I-nav > li div.head {
    height: 27px;
    text-indent: 18px;
    line-height: 30px; }
    .nav ul.I-nav > li div.head a {
      color: #fff;
      font-weight: 600;
      font-size: 15px; }
  .nav ul.leibie {
    padding-left: 16px; }
  .nav ul.I-nav > li ul.leibie li {
    float: left;
    margin-right: 10px; }
    .nav ul.I-nav > li ul.leibie li a {
      display: block;
      font-size: 12px;
      color: rgba(250, 250, 250, 0.8);
      padding: 3px 1px; }
  .nav ul.I-nav > li ul.leibie li > a:hover {
    text-decoration: underline; }

.II-nav {
  position: absolute;
  left: 192px;
  top: -3px;
  width: 600px;
  height: 480px;
  background: white;
  padding: 10px 20px;
  display: none;
  z-index: 300; }
  .II-nav .kuai {
    padding-bottom: 10px; }
  .II-nav .kuai > h3 {
    padding: 3px;
    font-size: 15px; }
    .II-nav .kuai > h3 a {
      color: #76ac25; }
  .II-nav .kuai > ol {
    width: 80%;
    margin-left: 15px;
    margin-bottom: 10px; }
  .II-nav .kuai > ol > li {
    float: left;
    border-left: 1px solid #ccc;
    margin: 2px 0; }
    .II-nav .kuai > ol > li a {
      display: block;
      padding: 0 5px;
      color: #5f5f5f;
      font-size: 12px; }
    .II-nav .kuai > ol > li a:hover {
      color: #76ac25; }
  .II-nav .img {
    position: absolute;
    bottom: 0; }
    .II-nav .img img {
      opacity: 0.95; }

ul.I-nav > li.fruit .II-nav {
  top: -60px; }

ul.I-nav > li.lengyin .II-nav {
  top: -117px; }

ul.I-nav > li.wine .II-nav {
  top: -174px; }

.banner div.lunbotu {
  float: left;
  width: 1000px;
  height: 480px;
  overflow: hidden;
  position: relative; }
  .banner div.lunbotu ul.lunbo {
    position: absolute;
    height: 100%;
    width: 10000px;
    left: 0;
    top: 0; }
    .banner div.lunbotu ul.lunbo li {
      float: left;
      width: 1000px;
      hright: 480px; }
  .banner div.lunbotu ul.lunbo-nav {
    z-index: 30;
    position: absolute;
    width: 340px;
    height: 25px;
    bottom: 15px;
    left: 50%;
    margin-left: -270px; }
    .banner div.lunbotu ul.lunbo-nav li {
      float: left;
      width: 25px;
      height: 25px;
      margin: 0 6px;
      background: #646464;
      cursor: pointer;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      -moz-border-radius: 50%;
      opacity: 0.8;
      filter: alpha(opacity=80);
      font-size: 15px;
      font-weight: 500;
      line-height: 25px;
      color: #fff;
      text-align: center; }
    .banner div.lunbotu ul.lunbo-nav li.orange {
      background: #fa9600; }

.banner-right {
  width: 260px;
  position: absolute;
  right: 0;
  top: 15px; }
  .banner-right a {
    font-size: 0; }

.main-3 .wrapper .m-l-10 .bottom .m ul > li div.price, .main-4 .wrapper .m-l-10 .bottom .m ul > li div.price, .main-5 .wrapper .m-l-10 .bottom .m ul > li div.price, .main-6 .wrapper .m-l-10 .bottom .m ul > li div.price, .main-7 .wrapper .m-l-10 .bottom .m ul > li div.price, .main-8 .wrapper .m-l-10 .bottom .m ul > li div.price, .main-9 .wrapper .m-l-10 .bottom .m ul > li div.price, .tuijian .wrapper ul li div.price {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #f33f00;
  text-align: left; }

body div.main {
  margin-bottom: 30px;
  position: relative; }
  body div.main div.m-l-10 {
    margin-left: 10px; }

.bg {
  width: 1920px;
  height: 578px;
  margin: 0 auto;
  background: url(../img/thefifthyear.png) no-repeat;
  position: absolute;
  top: 710px;
  left: 50%;
  margin-left: -960px; }

.main-1 .wrapper {
  height: 578px; }
  .main-1 .wrapper h3 {
    font-weight: 400;
    margin: 10px 0;
    position: relative; }
    .main-1 .wrapper h3 span {
      position: absolute;
      top: 4px;
      left: 95px;
      width: 118px;
      height: 14px;
      background: url(../img/index_icon_new.png) no-repeat -29px -333px; }
  .main-1 .wrapper .content {
    height: 520px; }
  .main-1 .wrapper .content .left {
    width: 945px;
    height: 520px;
    box-sizing: border-box; }
    .main-1 .wrapper .content .left ul {
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #e7e7e7;
      border-right: 1px solid #e7e7e7;
      background: #fff; }
    .main-1 .wrapper .content .left ul > li {
      position: relative;
      box-sizing: border-box;
      height: 260px;
      width: 236px;
      float: left;
      border-top: 1px solid #e7e7e7;
      border-left: 1px solid #e7e7e7;
      overflow: hidden; }
      .main-1 .wrapper .content .left ul > li h4 {
        font-size: 14px;
        font-weight: 400;
        height: 14px;
        overflow: hidden;
        line-height: 14px;
        margin: 10px; }
        .main-1 .wrapper .content .left ul > li h4 a {
          color: #616161; }
      .main-1 .wrapper .content .left ul > li p {
        margin: 10px;
        font-size: 14px;
        font-weight: 600;
        color: #fa0303; }
      .main-1 .wrapper .content .left ul > li a.image {
        position: absolute;
        display: block;
        width: 204px;
        height: 204px;
        right: 0;
        bottom: 0; }
        .main-1 .wrapper .content .left ul > li a.image img {
          width: 204px;
          height: 204px; }
      .main-1 .wrapper .content .left ul > li div.add-cart {
        position: absolute;
        width: 150px;
        height: 25px;
        background: #76ac25;
        border-radius: 5px;
        left: 50%;
        margin-left: -75px;
        bottom: -10px;
        font-size: 12px;
        line-height: 25px;
        color: #fff;
        text-align: center;
        display: none; }
  .main-1 .wrapper .content .right {
    width: 220px;
    height: 520px;
    border: 1px solid #ccc; }
    .main-1 .wrapper .content .right a.top {
      display: block;
      width: 220px;
      height: 300px; }
      .main-1 .wrapper .content .right a.top img {
        width: 100%;
        height: 100%; }
    .main-1 .wrapper .content .right div.bottom {
      padding: 10px; }
      .main-1 .wrapper .content .right div.bottom h4 {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        padding: 10px 0;
        border-bottom: 1px solid #ccc; }
        .main-1 .wrapper .content .right div.bottom h4 a.more {
          position: absolute;
          right: 0;
          font-size: 12px;
          color: #999; }
      .main-1 .wrapper .content .right div.bottom ul.kuaibao li {
        font-size: 11px;
        height: 28px;
        line-height: 28px;
        overflow: hidden; }
        .main-1 .wrapper .content .right div.bottom ul.kuaibao li a {
          color: #999; }
      .main-1 .wrapper .content .right div.bottom ul.kuaibao li:nth-of-type(1) a, .main-1 .wrapper .content .right div.bottom ul.kuaibao li:nth-of-type(2) a {
        color: red; }

.main-2 .wrapper {
  margin-bottom: 30px; }
  .main-2 .wrapper .m-l-10 {
    height: 360px; }
  .main-2 .wrapper div.left {
    width: 945px;
    height: 100%;
    margin-left: 10px; }
    .main-2 .wrapper div.left div.head {
      width: 100%;
      height: 61px;
      color: #fff;
      background: #ff7031; }
      .main-2 .wrapper div.left div.head div.logo {
        float: left;
        font-size: 23px;
        color: #fff;
        line-height: 61px;
        text-indent: 50px; }
        .main-2 .wrapper div.left div.head div.logo b {
          display: inline-block;
          position: relative;
          top: 10px;
          left: -22px;
          width: 30px;
          height: 34px;
          background: url(../img/paid_bg.png) no-repeat -40px -266px; }
      .main-2 .wrapper div.left div.head div.jishi {
        float: left;
        margin-left: 38px;
        position: relative; }
        .main-2 .wrapper div.left div.head div.jishi ul > li {
          float: left;
          line-height: 61px;
          margin-right: 10px; }
        .main-2 .wrapper div.left div.head div.jishi ul > li.word {
          font-size: 14px;
          color: #ffe4c6; }
        .main-2 .wrapper div.left div.head div.jishi ul > li.have-b {
          width: 38px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          position: relative;
          top: 12px;
          font-size: 22px;
          background: url(../img/paid_bg.png) no-repeat -185px -217px; }
      .main-2 .wrapper div.left div.head a.yugao {
        float: right;
        position: relative;
        right: 20px;
        font-size: 18px;
        color: #fff;
        line-height: 61px; }
    .main-2 .wrapper div.left div.bottom {
      height: 297px;
      border: 1px solid #ccc;
      border-top: 0; }
    .main-2 .wrapper div.left div.bottom ul li {
      width: 166px;
      height: 266px;
      float: left;
      padding: 13px 0 18px 19px; }
      .main-2 .wrapper div.left div.bottom ul li a.img {
        display: block;
        width: 164px;
        height: 164px;
        border: 1px solid #ccc;
        font-size: 0; }
      .main-2 .wrapper div.left div.bottom ul li img {
        width: 100%;
        border: 0; }
      .main-2 .wrapper div.left div.bottom ul li p.title {
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        color: #ccc;
        text-align: left; }
        .main-2 .wrapper div.left div.bottom ul li p.title a {
          display: block;
          height: 18px;
          width: 166px;
          overflow: hidden;
          color: #323232; }
      .main-2 .wrapper div.left div.bottom ul li p.price {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: #f33f00;
        text-align: left; }
      .main-2 .wrapper div.left div.bottom ul li p.huiyuanjia {
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        color: #323232;
        text-align: left; }
        .main-2 .wrapper div.left div.bottom ul li p.huiyuanjia span {
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          color: #f33f00;
          text-align: left; }
      .main-2 .wrapper div.left div.bottom ul li p.qiang {
        height: 28px;
        font-size: 14px;
        font-weight: 500;
        line-height: 28px;
        color: #fff;
        text-align: center;
        background: #f33f00; }
        .main-2 .wrapper div.left div.bottom ul li p.qiang a {
          color: #fff; }
  .main-2 .wrapper div.right {
    height: 100%; }
    .main-2 .wrapper div.right a {
      display: block;
      height: 100%; }
    .main-2 .wrapper div.right img {
      width: 222px;
      height: 100%; }

.main-3 .wrapper .m-l-10 .bottom .m ul > li, .main-4 .wrapper .m-l-10 .bottom .m ul > li, .main-5 .wrapper .m-l-10 .bottom .m ul > li, .main-6 .wrapper .m-l-10 .bottom .m ul > li, .main-7 .wrapper .m-l-10 .bottom .m ul > li, .main-8 .wrapper .m-l-10 .bottom .m ul > li, .main-9 .wrapper .m-l-10 .bottom .m ul > li, .tuijian .wrapper ul li {
  float: left;
  width: 160px;
  height: 210px;
  padding: 8px; }
  .main-3 .wrapper .m-l-10 .bottom .m ul > li a.image, .main-4 .wrapper .m-l-10 .bottom .m ul > li a.image, .main-5 .wrapper .m-l-10 .bottom .m ul > li a.image, .main-6 .wrapper .m-l-10 .bottom .m ul > li a.image, .main-7 .wrapper .m-l-10 .bottom .m ul > li a.image, .main-8 .wrapper .m-l-10 .bottom .m ul > li a.image, .main-9 .wrapper .m-l-10 .bottom .m ul > li a.image, .tuijian .wrapper ul li a.image {
    display: block;
    width: 160px;
    height: 160px;
    position: relative;
    overflow: hidden; }
    .main-3 .wrapper .m-l-10 .bottom .m ul > li a.image div.add-cart, .main-4 .wrapper .m-l-10 .bottom .m ul > li a.image div.add-cart, .main-5 .wrapper .m-l-10 .bottom .m ul > li a.image div.add-cart, .main-6 .wrapper .m-l-10 .bottom .m ul > li a.image div.add-cart, .main-7 .wrapper .m-l-10 .bottom .m ul > li a.image div.add-cart, .main-8 .wrapper .m-l-10 .bottom .m ul > li a.image div.add-cart, .main-9 .wrapper .m-l-10 .bottom .m ul > li a.image div.add-cart, .tuijian .wrapper ul li a.image div.add-cart {
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 20px;
      background: #76AC25;
      display: none;
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      -moz-border-radius: 3px; }
  .main-3 .wrapper .m-l-10 .bottom .m ul > li div.title, .main-4 .wrapper .m-l-10 .bottom .m ul > li div.title, .main-5 .wrapper .m-l-10 .bottom .m ul > li div.title, .main-6 .wrapper .m-l-10 .bottom .m ul > li div.title, .main-7 .wrapper .m-l-10 .bottom .m ul > li div.title, .main-8 .wrapper .m-l-10 .bottom .m ul > li div.title, .main-9 .wrapper .m-l-10 .bottom .m ul > li div.title, .tuijian .wrapper ul li div.title {
    height: 30px;
    width: 90%;
    overflow: hidden;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    color: #666;
    text-align: left; }

.main-3 .wrapper, .main-4 .wrapper, .main-5 .wrapper, .main-6 .wrapper, .main-7 .wrapper, .main-8 .wrapper, .main-9 .wrapper {
  margin-bottom: 30px; }
  .main-3 .wrapper .m-l-10 .head, .main-4 .wrapper .m-l-10 .head, .main-5 .wrapper .m-l-10 .head, .main-6 .wrapper .m-l-10 .head, .main-7 .wrapper .m-l-10 .head, .main-8 .wrapper .m-l-10 .head, .main-9 .wrapper .m-l-10 .head {
    width: 1190px;
    margin-bottom: 30px; }
    .main-3 .wrapper .m-l-10 .head a, .main-4 .wrapper .m-l-10 .head a, .main-5 .wrapper .m-l-10 .head a, .main-6 .wrapper .m-l-10 .head a, .main-7 .wrapper .m-l-10 .head a, .main-8 .wrapper .m-l-10 .head a, .main-9 .wrapper .m-l-10 .head a {
      display: block;
      font-size: 0; }
      .main-3 .wrapper .m-l-10 .head a img, .main-4 .wrapper .m-l-10 .head a img, .main-5 .wrapper .m-l-10 .head a img, .main-6 .wrapper .m-l-10 .head a img, .main-7 .wrapper .m-l-10 .head a img, .main-8 .wrapper .m-l-10 .head a img, .main-9 .wrapper .m-l-10 .head a img {
        width: 1190px;
        height: 100px; }
  .main-3 .wrapper .m-l-10 .bottom .l, .main-4 .wrapper .m-l-10 .bottom .l, .main-5 .wrapper .m-l-10 .bottom .l, .main-6 .wrapper .m-l-10 .bottom .l, .main-7 .wrapper .m-l-10 .bottom .l, .main-8 .wrapper .m-l-10 .bottom .l, .main-9 .wrapper .m-l-10 .bottom .l {
    float: left;
    width: 240px; }
    .main-3 .wrapper .m-l-10 .bottom .l h2, .main-4 .wrapper .m-l-10 .bottom .l h2, .main-5 .wrapper .m-l-10 .bottom .l h2, .main-6 .wrapper .m-l-10 .bottom .l h2, .main-7 .wrapper .m-l-10 .bottom .l h2, .main-8 .wrapper .m-l-10 .bottom .l h2, .main-9 .wrapper .m-l-10 .bottom .l h2 {
      height: 50px;
      background: #76AC25;
      font-size: 16px;
      font-weight: 500;
      line-height: 50px;
      color: #fff;
      text-align: center; }
      .main-3 .wrapper .m-l-10 .bottom .l h2 a, .main-4 .wrapper .m-l-10 .bottom .l h2 a, .main-5 .wrapper .m-l-10 .bottom .l h2 a, .main-6 .wrapper .m-l-10 .bottom .l h2 a, .main-7 .wrapper .m-l-10 .bottom .l h2 a, .main-8 .wrapper .m-l-10 .bottom .l h2 a, .main-9 .wrapper .m-l-10 .bottom .l h2 a {
        color: #fff; }
    .main-3 .wrapper .m-l-10 .bottom .l a.image, .main-4 .wrapper .m-l-10 .bottom .l a.image, .main-5 .wrapper .m-l-10 .bottom .l a.image, .main-6 .wrapper .m-l-10 .bottom .l a.image, .main-7 .wrapper .m-l-10 .bottom .l a.image, .main-8 .wrapper .m-l-10 .bottom .l a.image, .main-9 .wrapper .m-l-10 .bottom .l a.image {
      display: block;
      font-size: 0; }
      .main-3 .wrapper .m-l-10 .bottom .l a.image img, .main-4 .wrapper .m-l-10 .bottom .l a.image img, .main-5 .wrapper .m-l-10 .bottom .l a.image img, .main-6 .wrapper .m-l-10 .bottom .l a.image img, .main-7 .wrapper .m-l-10 .bottom .l a.image img, .main-8 .wrapper .m-l-10 .bottom .l a.image img, .main-9 .wrapper .m-l-10 .bottom .l a.image img {
        position: relative;
        left: -10px;
        width: 250px;
        height: 420px; }
  .main-3 .wrapper .m-l-10 .bottom .m, .main-4 .wrapper .m-l-10 .bottom .m, .main-5 .wrapper .m-l-10 .bottom .m, .main-6 .wrapper .m-l-10 .bottom .m, .main-7 .wrapper .m-l-10 .bottom .m, .main-8 .wrapper .m-l-10 .bottom .m, .main-9 .wrapper .m-l-10 .bottom .m {
    width: 720px;
    height: 468px;
    float: left; }
  .main-3 .wrapper .m-l-10 .bottom .m ul, .main-4 .wrapper .m-l-10 .bottom .m ul, .main-5 .wrapper .m-l-10 .bottom .m ul, .main-6 .wrapper .m-l-10 .bottom .m ul, .main-7 .wrapper .m-l-10 .bottom .m ul, .main-8 .wrapper .m-l-10 .bottom .m ul, .main-9 .wrapper .m-l-10 .bottom .m ul {
    width: 710px;
    height: 460px;
    padding: 7px 10px 1px;
    border-top: 1px solid #76AC25;
    border-bottom: 1px solid #F4F4F4; }
  .main-3 .wrapper .m-l-10 .bottom .r, .main-4 .wrapper .m-l-10 .bottom .r, .main-5 .wrapper .m-l-10 .bottom .r, .main-6 .wrapper .m-l-10 .bottom .r, .main-7 .wrapper .m-l-10 .bottom .r, .main-8 .wrapper .m-l-10 .bottom .r, .main-9 .wrapper .m-l-10 .bottom .r {
    float: right;
    width: 220px;
    height: 469px;
    background: #f4f4f4;
    border-top: 1px solid #76AC25;
    position: relative; }
    .main-3 .wrapper .m-l-10 .bottom .r div.top ul, .main-4 .wrapper .m-l-10 .bottom .r div.top ul, .main-5 .wrapper .m-l-10 .bottom .r div.top ul, .main-6 .wrapper .m-l-10 .bottom .r div.top ul, .main-7 .wrapper .m-l-10 .bottom .r div.top ul, .main-8 .wrapper .m-l-10 .bottom .r div.top ul, .main-9 .wrapper .m-l-10 .bottom .r div.top ul {
      margin: 25px 0 0 15px; }
    .main-3 .wrapper .m-l-10 .bottom .r div.top ul li, .main-4 .wrapper .m-l-10 .bottom .r div.top ul li, .main-5 .wrapper .m-l-10 .bottom .r div.top ul li, .main-6 .wrapper .m-l-10 .bottom .r div.top ul li, .main-7 .wrapper .m-l-10 .bottom .r div.top ul li, .main-8 .wrapper .m-l-10 .bottom .r div.top ul li, .main-9 .wrapper .m-l-10 .bottom .r div.top ul li {
      float: left;
      margin: 4px; }
      .main-3 .wrapper .m-l-10 .bottom .r div.top ul li a, .main-4 .wrapper .m-l-10 .bottom .r div.top ul li a, .main-5 .wrapper .m-l-10 .bottom .r div.top ul li a, .main-6 .wrapper .m-l-10 .bottom .r div.top ul li a, .main-7 .wrapper .m-l-10 .bottom .r div.top ul li a, .main-8 .wrapper .m-l-10 .bottom .r div.top ul li a, .main-9 .wrapper .m-l-10 .bottom .r div.top ul li a {
        display: block;
        width: 55px;
        height: 55px;
        background: #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -moz-border-radius: 50%;
        font-size: 12px;
        font-weight: 500;
        line-height: 55px;
        color: #333;
        text-align: center;
        color: #333; }
      .main-3 .wrapper .m-l-10 .bottom .r div.top ul li a:hover, .main-4 .wrapper .m-l-10 .bottom .r div.top ul li a:hover, .main-5 .wrapper .m-l-10 .bottom .r div.top ul li a:hover, .main-6 .wrapper .m-l-10 .bottom .r div.top ul li a:hover, .main-7 .wrapper .m-l-10 .bottom .r div.top ul li a:hover, .main-8 .wrapper .m-l-10 .bottom .r div.top ul li a:hover, .main-9 .wrapper .m-l-10 .bottom .r div.top ul li a:hover {
        background: #76AC25; }
    .main-3 .wrapper .m-l-10 .bottom .r div.bottom, .main-4 .wrapper .m-l-10 .bottom .r div.bottom, .main-5 .wrapper .m-l-10 .bottom .r div.bottom, .main-6 .wrapper .m-l-10 .bottom .r div.bottom, .main-7 .wrapper .m-l-10 .bottom .r div.bottom, .main-8 .wrapper .m-l-10 .bottom .r div.bottom, .main-9 .wrapper .m-l-10 .bottom .r div.bottom {
      width: 220px;
      height: 230px;
      position: absolute;
      bottom: 0; }
      .main-3 .wrapper .m-l-10 .bottom .r div.bottom a.image, .main-4 .wrapper .m-l-10 .bottom .r div.bottom a.image, .main-5 .wrapper .m-l-10 .bottom .r div.bottom a.image, .main-6 .wrapper .m-l-10 .bottom .r div.bottom a.image, .main-7 .wrapper .m-l-10 .bottom .r div.bottom a.image, .main-8 .wrapper .m-l-10 .bottom .r div.bottom a.image, .main-9 .wrapper .m-l-10 .bottom .r div.bottom a.image {
        display: block;
        font-size: 0; }
      .main-3 .wrapper .m-l-10 .bottom .r div.bottom a.jiantou, .main-4 .wrapper .m-l-10 .bottom .r div.bottom a.jiantou, .main-5 .wrapper .m-l-10 .bottom .r div.bottom a.jiantou, .main-6 .wrapper .m-l-10 .bottom .r div.bottom a.jiantou, .main-7 .wrapper .m-l-10 .bottom .r div.bottom a.jiantou, .main-8 .wrapper .m-l-10 .bottom .r div.bottom a.jiantou, .main-9 .wrapper .m-l-10 .bottom .r div.bottom a.jiantou {
        position: absolute;
        top: 65px;
        left: 18px;
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -moz-border-radius: 50%;
        background: url(../img/index_icon_new.png) no-repeat -204px 0; }
    .main-3 .wrapper .m-l-10 .bottom .r div.bottom:hover a.jiantou, .main-4 .wrapper .m-l-10 .bottom .r div.bottom:hover a.jiantou, .main-5 .wrapper .m-l-10 .bottom .r div.bottom:hover a.jiantou, .main-6 .wrapper .m-l-10 .bottom .r div.bottom:hover a.jiantou, .main-7 .wrapper .m-l-10 .bottom .r div.bottom:hover a.jiantou, .main-8 .wrapper .m-l-10 .bottom .r div.bottom:hover a.jiantou, .main-9 .wrapper .m-l-10 .bottom .r div.bottom:hover a.jiantou {
      background-position-y: -33px; }

.main-4 .wrapper .m-l-10 .bottom .l h2 {
  background: #fa648c; }

.main-4 .wrapper .m-l-10 .bottom .m ul {
  border-top: 1px solid #fa648c; }

.main-4 .wrapper .m-l-10 .bottom .m ul > li > a.image > div.add-cart {
  background: #fa648c; }

.main-4 .wrapper .m-l-10 .bottom .r {
  border-top: 1px solid #fa648c; }
  .main-4 .wrapper .m-l-10 .bottom .r div.top ul li > a:hover {
    background: #fa648c; }

.main-4 .wrapper .m-l-10 .bottom .r div.bottom:hover a.jiantou {
  background-position-y: -199px; }

.main-5 .wrapper .m-l-10 .bottom .l h2 {
  background: #ff6c00; }

.main-5 .wrapper .m-l-10 .bottom .m ul {
  border-top: 1px solid #ff6c00; }

.main-5 .wrapper .m-l-10 .bottom .m ul > li > a.image > div.add-cart {
  background: #ff6c00; }

.main-5 .wrapper .m-l-10 .bottom .r {
  border-top: 1px solid #ff6c00; }
  .main-5 .wrapper .m-l-10 .bottom .r div.top ul li > a:hover {
    background: #ff6c00; }

.main-5 .wrapper .m-l-10 .bottom .r div.bottom:hover a.jiantou {
  background-position-y: -66px; }

.main-6 .wrapper .m-l-10 .bottom .l h2 {
  background: #fa648c; }

.main-6 .wrapper .m-l-10 .bottom .m ul {
  border-top: 1px solid #fa648c; }

.main-6 .wrapper .m-l-10 .bottom .m ul > li > a.image > div.add-cart {
  background: #fa648c; }

.main-6 .wrapper .m-l-10 .bottom .r {
  border-top: 1px solid #fa648c; }
  .main-6 .wrapper .m-l-10 .bottom .r div.top ul li > a:hover {
    background: #fa648c; }

.main-6 .wrapper .m-l-10 .bottom .r div.bottom:hover a.jiantou {
  background-position-y: -199px; }

.main-7 .wrapper .m-l-10 .bottom .l h2 {
  background: #d12e49; }

.main-7 .wrapper .m-l-10 .bottom .m ul {
  border-top: 1px solid #d12e49; }

.main-7 .wrapper .m-l-10 .bottom .m ul > li > a.image > div.add-cart {
  background: #d12e49; }

.main-7 .wrapper .m-l-10 .bottom .r {
  border-top: 1px solid #d12e49; }
  .main-7 .wrapper .m-l-10 .bottom .r div.top ul li > a:hover {
    background: #d12e49; }

.main-7 .wrapper .m-l-10 .bottom .r div.bottom:hover a.jiantou {
  background-position-y: -99px; }

.main-8 .wrapper .m-l-10 .bottom .l h2 {
  background: #f08c18; }

.main-8 .wrapper .m-l-10 .bottom .m ul {
  border-top: 1px solid #f08c18; }

.main-8 .wrapper .m-l-10 .bottom .m ul > li > a.image > div.add-cart {
  background: #f08c18; }

.main-8 .wrapper .m-l-10 .bottom .r {
  border-top: 1px solid #f08c18; }
  .main-8 .wrapper .m-l-10 .bottom .r div.top ul li > a:hover {
    background: #f08c18; }

.main-8 .wrapper .m-l-10 .bottom .r div.bottom:hover a.jiantou {
  background-position-y: -132px; }

.main-9 .wrapper {
  margin-bottom: 50px; }
  .main-9 .wrapper .m-l-10 .bottom .l h2 {
    background: #78b270; }
  .main-9 .wrapper .m-l-10 .bottom .m ul {
    border-top: 1px solid #78b270; }
  .main-9 .wrapper .m-l-10 .bottom .m ul > li > a.image > div.add-cart {
    background: #78b270; }
  .main-9 .wrapper .m-l-10 .bottom .r {
    border-top: 1px solid #78b270; }
    .main-9 .wrapper .m-l-10 .bottom .r div.top ul li > a:hover {
      background: #78b270; }
  .main-9 .wrapper .m-l-10 .bottom .r div.bottom:hover a.jiantou {
    background-position-y: -166px; }

.tuijian {
  margin-top: 10px; }

.tuijian .wrapper {
  border: 1px solid #f5f5f5;
  width: 1170px;
  padding: 15px 14px; }
  .tuijian .wrapper h4 {
    background-color: #fff;
    position: absolute;
    padding: 5px 10px;
    width: 100px;
    height: 23px;
    top: -11px;
    left: 50%;
    margin-left: -58px; }
    .tuijian .wrapper h4 b {
      width: 100px;
      height: 23px;
      display: block;
      position: relative;
      top: -8px;
      left: 0;
      background: url(../img/sf_new_bg.png) no-repeat; }
  .tuijian .wrapper ul li {
    width: 210px;
    height: 278px;
    padding: 15px 12px; }
    .tuijian .wrapper ul li a.image {
      display: block;
      width: 210px;
      height: 210px;
      position: relative;
      overflow: hidden; }
    .tuijian .wrapper ul li div.add-cart {
      position: absolute;
      background: #76AC25;
      display: none;
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      -moz-border-radius: 3px;
      width: 210px;
      height: 24px;
      opacity: 0.95;
      filter: alpha(opacity=95); }
    .tuijian .wrapper ul li div.title {
      width: 210px;
      height: 36px;
      line-height: 20px;
      overflow: visible;
      padding: 5px 2px; }

.footer {
  margin-top: 20px; }

.footer .wrapper p.none {
  position: relative;
  height: 20px; }
  .footer .wrapper p.none span {
    display: inline-block;
    width: 100px;
    height: 20px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -50px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: #969696;
    text-align: center; }
  .footer .wrapper p.none b {
    display: inline-block;
    width: 300px;
    height: 1px;
    background: #f5f5f5;
    position: absolute;
    left: 50%;
    top: 7px;
    margin-left: -150px; }

.footer .wrapper a.top-image {
  display: block;
  margin: 25px 0;
  font-size: 0; }
  .footer .wrapper a.top-image img {
    width: 1200px;
    height: 100px; }

.footer .wrapper div.notes div.zuo h3, .footer .wrapper div.notes div.middle h3, .footer .wrapper div.notes div.faxian h3 {
  height: 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  color: #323232;
  text-align: left;
  padding: 15px 0 10px; }

.footer .wrapper div.notes div.zuo div.content, .footer .wrapper div.notes div.middle div.content_box {
  padding: 20px 0;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8; }

.footer .wrapper div.notes div.zuo div.content a.tupian, .footer .wrapper div.notes div.middle div.liebiao div.gundong a.tupian {
  display: block;
  font-size: 0;
  margin-right: 10px; }
  .footer .wrapper div.notes div.zuo div.content a.tupian img, .footer .wrapper div.notes div.middle div.liebiao div.gundong a.tupian img {
    width: 170px;
    height: 100px; }

.footer .wrapper div.notes > div {
  margin-right: 20px; }

.footer .wrapper div.notes div.zuo {
  width: 400px;
  height: 200px; }
  .footer .wrapper div.notes div.zuo div.content ul li a {
    padding-left: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: #646464;
    text-align: left;
    background: url(../img/dian.jpg) no-repeat 0 7px; }

.footer .wrapper div.notes div.middle {
  width: 400px;
  height: 200px; }
  .footer .wrapper div.notes div.middle div.content_box {
    height: 147px;
    padding: 0;
    position: relative;
    overflow: hidden; }
  .footer .wrapper div.notes div.middle div.liebiao {
    position: absolute;
    left: 0;
    bottom: 0; }
  .footer .wrapper div.notes div.middle div.liebiao div.gundong {
    height: 51px;
    padding: 11px 0;
    border-bottom: 1px dotted #e8e8e8;
    vertical-align: middle; }
    .footer .wrapper div.notes div.middle div.liebiao div.gundong a.tupian img {
      width: 50px;
      height: 50px; }
    .footer .wrapper div.notes div.middle div.liebiao div.gundong div.info {
      width: 320px;
      height: 22px;
      margin-left: 10px; }
      .footer .wrapper div.notes div.middle div.liebiao div.gundong div.info p {
        height: 22px;
        overflow: hidden;
        font-size: 12.5px;
        font-weight: 500;
        line-height: 22px;
        color: #646464;
        text-align: left; }
        .footer .wrapper div.notes div.middle div.liebiao div.gundong div.info p a:hover {
          text-decoration: underline; }
      .footer .wrapper div.notes div.middle div.liebiao div.gundong div.info p.orange a {
        color: #FA9600; }
      .footer .wrapper div.notes div.middle div.liebiao div.gundong div.info p.grey a {
        color: #646464; }

.footer .wrapper div.notes div.faxian {
  width: 358px;
  height: 196px;
  border: 1px solid #E8E8E8;
  margin-right: 0; }
  .footer .wrapper div.notes div.faxian h3 {
    text-indent: 45px;
    width: 322px;
    margin: 0 auto;
    border-bottom: 1px solid #E8E8E8;
    background: url(../img/youpin.jpg) no-repeat 15px 20px;
    position: relative; }
    .footer .wrapper div.notes div.faxian h3 a {
      display: block;
      width: 69px;
      height: 14px;
      background: url(../img/foot_bottom.png) no-repeat -3px -105px;
      position: absolute;
      top: 22px;
      right: 0; }
    .footer .wrapper div.notes div.faxian h3 a:hover {
      background-position-y: -131px; }
  .footer .wrapper div.notes div.faxian div.content {
    width: 322px;
    margin: 0 auto;
    padding: 15px 0 0 0; }
    .footer .wrapper div.notes div.faxian div.content input {
      width: 132px;
      height: 22px;
      padding: 0 2px;
      color: #969696;
      border: 1px solid #ccc; }
    .footer .wrapper div.notes div.faxian div.content span.address {
      display: inline-block;
      width: 50px;
      height: 22px;
      border: 1px solid #ccc;
      font-size: 12px;
      font-weight: 500;
      line-height: 22px;
      color: #666;
      text-align: left;
      text-indent: 5px;
      position: relative;
      top: 1px; }
    .footer .wrapper div.notes div.faxian div.content span.dingyue {
      display: inline-block;
      width: 44px;
      height: 24px;
      background: url(../img/foot_bottom.png) no-repeat -118px -106px;
      position: relative;
      top: 6.5px;
      left: 2px; }
    .footer .wrapper div.notes div.faxian div.content span.more {
      font-size: 13px;
      font-weight: 500;
      line-height: 25px;
      color: #656565;
      text-align: left; }

.footer .wrapper div.huitiao {
  margin: 10px 0 10px;
  background: #F5F5F5; }
  .footer .wrapper div.huitiao div {
    height: 120px;
    width: 25%; }
  .footer .wrapper div.huitiao div.div1 {
    background: url(../img/f1.png) no-repeat center center; }
  .footer .wrapper div.huitiao div.div2 {
    background: url(../img/f2.png) no-repeat center center; }
  .footer .wrapper div.huitiao div.div3 {
    background: url(../img/f3.png) no-repeat center center; }
  .footer .wrapper div.huitiao div.div4 {
    background: url(../img/f4.png) no-repeat center center; }

.footer .wrapper div.footer-di-1 .zuo {
  width: 290px;
  height: 145px;
  margin: 20px 0 10px;
  background: url(../img/logo.jpg) no-repeat left top; }
  .footer .wrapper div.footer-di-1 .zuo ul {
    padding-top: 85px; }
    .footer .wrapper div.footer-di-1 .zuo ul li {
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      color: #969693;
      text-align: left; }
    .footer .wrapper div.footer-di-1 .zuo ul li.phone {
      font-size: 20px;
      font-weight: bold;
      line-height: 30px;
      color: #646464;
      text-align: left; }

.footer .wrapper div.footer-di-1 .middle {
  width: 645px;
  margin-top: 35px; }
  .footer .wrapper div.footer-di-1 .middle ul {
    width: 120px;
    margin-right: 8px; }
    .footer .wrapper div.footer-di-1 .middle ul li {
      height: 24px;
      font-size: 12px;
      font-weight: 500;
      line-height: 24px;
      color: #646464;
      text-align: left; }
      .footer .wrapper div.footer-di-1 .middle ul li a {
        color: #646464; }
    .footer .wrapper div.footer-di-1 .middle ul li.title {
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      color: #707070;
      text-align: left; }

.footer .wrapper div.footer-di-1 .you {
  width: 235px;
  height: 145px;
  margin-top: 35px; }
  .footer .wrapper div.footer-di-1 .you ul li.title {
    width: 80px;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    color: #666;
    text-align: center;
    margin: 0 36px 8px 0; }
    .footer .wrapper div.footer-di-1 .you ul li.title a {
      color: #666; }
  .footer .wrapper div.footer-di-1 .you ul li.ma {
    width: 80px;
    height: 80px;
    background: url(../img/foot_bottom.png) no-repeat 0px 0px; }

.footer .wrapper div.footer-di-2 {
  height: 50px;
  padding: 15px 0 20px;
  border-top: 1px solid #E0E0E0; }

.footer .wrapper div.footer-di-2 ul.zuo li {
  width: 94px;
  height: 33px;
  float: left;
  margin-right: 10px; }
  .footer .wrapper div.footer-di-2 ul.zuo li a {
    display: block;
    font-size: 0; }
  .footer .wrapper div.footer-di-2 ul.zuo li img {
    width: 94px;
    height: 33px; }

.footer .wrapper div.footer-di-2 ul.you {
  width: 600px; }
  .footer .wrapper div.footer-di-2 ul.you li {
    float: left;
    margin-left: 13px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #969693;
    text-align: left; }
  .footer .wrapper div.footer-di-2 ul.you li.shense a {
    color: #646464; }
  .footer .wrapper div.footer-di-2 ul.you li.renzheng a {
    color: #969693; }
  .footer .wrapper div.footer-di-2 ul.you li.lv a:hover {
    color: #76ac25; }

.louti {
  width: 44px;
  height: 300px;
  position: fixed;
  right: 10px;
  bottom: 20px; }
  .louti ul {
    z-index: 200; }
  .louti ul li {
    margin-top: 10px;
    width: 42px;
    height: 42px; }
    .louti ul li a {
      display: block;
      font-size: 0;
      width: 42px;
      height: 42px;
      border: 1px solid #ccc;
      opacity: 0.9;
      filter: alpha(opacity=90); }
    .louti ul li a.zuanshi {
      background: url(../img/paid_bg.png) no-repeat -41px -182px; }
    .louti ul li a.cart {
      background: url(../img/productList.png) no-repeat 0 -45px; }
    .louti ul li a.cart:hover {
      background-position-y: -148px; }
    .louti ul li a.jilu {
      background: url(../img/productList.png) no-repeat -42px -82px; }
    .louti ul li a.jilu:hover {
      background-position-y: -184px; }
    .louti ul li a.app {
      background: url(../img/productList.png) no-repeat -42px -40px; }
    .louti ul li a.app:hover {
      background-position-y: -142px; }
    .louti ul li a.zan {
      background: url(../img/sf_new_bg.png) no-repeat 0 -27px; }
    .louti ul li a.zan:hover {
      background-position-y: -69px; }
    .louti ul li a.go-top {
      background: url(../img/productList.png) no-repeat 0 -82px; }
    .louti ul li a.go-top:hover {
      background-position-y: -184px; }
  .louti div.cang {
    width: 370px;
    height: 395px;
    position: absolute;
    left: -380px;
    top: -50px;
    overflow: hidden; }

.cang div.cart {
  width: 330px;
  height: 355px;
  padding: 20px;
  position: absolute;
  left: 370px;
  display: none;
  border: 1px solid #dadada;
  background: #fff; }
  .cang div.cart h4 {
    height: 26px;
    border-bottom: 2px solid green;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #ccc;
    text-align: left; }
  .cang div.cart .content {
    height: 258px; }
  .cang div.cart .liebiao {
    height: 44px;
    padding: 10px 0;
    border-bottom: 1px solid #eee; }
    .cang div.cart .liebiao a.left {
      display: block;
      width: 40px;
      height: 40px;
      border: 1px solid #ddd; }
      .cang div.cart .liebiao a.left img {
        width: 40px;
        height: 40px; }
    .cang div.cart .liebiao div.info {
      margin-left: 5px;
      width: 200px;
      height: 40px; }
      .cang div.cart .liebiao div.info p.title {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: #999;
        text-align: left; }
        .cang div.cart .liebiao div.info p.title a {
          color: #222; }
      .cang div.cart .liebiao div.info div.weight {
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        color: #aaa;
        text-align: left; }
    .cang div.cart .liebiao div.price_box {
      position: relative;
      width: 70px;
      height: 40px; }
      .cang div.cart .liebiao div.price_box p.jiage {
        font-size: 10px;
        font-weight: 500;
        line-height: 16px;
        color: #ccc;
        text-align: left;
        text-align: right; }
      .cang div.cart .liebiao div.price_box span.price {
        font-size: 15px;
        font-weight: 600;
        line-height: 16px;
        color: orange;
        text-align: left; }
      .cang div.cart .liebiao div.price_box a {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: #999;
        text-align: left;
        position: absolute;
        right: 0; }
  .cang div.cart .bottom {
    height: 70px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #ccc;
    text-align: left; }
    .cang div.cart .bottom span.num, .cang div.cart .bottom span.wei {
      font-size: 17px;
      font-weight: 500;
      line-height: 20px;
      color: orange;
      text-align: left; }
    .cang div.cart .bottom span.sum {
      font-size: 20px;
      font-weight: 500;
      line-height: 22px;
      color: orange;
      text-align: left; }
    .cang div.cart .bottom .right a {
      display: block;
      width: 110px;
      height: 28px;
      font-size: 15px;
      font-weight: 500;
      line-height: 28px;
      color: #fff;
      text-align: center;
      background: orange;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      -moz-border-radius: 5px; }
